In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures #다항회귀는 과소적합을 방지할 수 있다.

from math import sqrt

import numpy as np
import pandas as pd

In [6]:
admission_df = pd.read_csv('../data/admission_data.csv').drop('Serial No.', axis=1)

In [7]:
admission_df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [11]:
X = admission_df.drop(['Chance of Admit '], axis=1)

polynomial_transformer = PolynomialFeatures(6)

In [12]:
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names(X.columns)

X = pd.DataFrame(polynomial_features, columns = features)

In [13]:
X

,1,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,GRE Score^2,GRE Score TOEFL Score,...,LOR CGPA^2 Research^3,LOR CGPA Research^4,LOR Research^5,CGPA^6,CGPA^5 Research,CGPA^4 Research^2,CGPA^3 Research^3,CGPA^2 Research^4,CGPA Research^5,Research^6
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,113569.0,39766.0,...,419.05125,43.425,4.5,807539.696082,83682.870060,8671.800006,898.632125,93.1225,9.65,1.0
1,1.0,324.0,107.0,4.0,4.0,4.5,8.87,1.0,104976.0,34668.0,...,354.04605,39.915,4.5,487014.306256,54905.784245,6190.054594,697.864103,78.6769,8.87,1.0
2,1.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,99856.0,32864.0,...,224.00000,28.000,3.5,262144.000000,32768.000000,4096.000000,512.000000,64.0000,8.00,1.0
3,1.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,103684.0,35420.0,...,187.92225,21.675,2.5,424731.610940,48988.651781,5650.363527,651.714363,75.1689,8.67,1.0
4,1.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,98596.0,32342.0,...,0.00000,0.000,0.0,306237.903347,0.000000,0.000000,0.000000,0.0000,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,332.0,108.0,5.0,4.5,4.0,9.02,1.0,110224.0,35856.0,...,325.44160,36.080,4.0,538566.362835,59708.022487,6619.514688,733.870808,81.3604,9.02,1.0
496,1.0,337.0,117.0,5.0,5.0,5.0,9.87,1.0,113569.0,39429.0,...,487.08450,49.350,5.0,924491.486192,93666.817243,9490.052406,961.504803,97.4169,9.87,1.0
497,1.0,330.0,120.0,5.0,4.5,5.0,9.56,1.0,108900.0,39600.0,...,456.96800,47.800,5.0,763391.559199,79852.673556,8352.790121,873.722816,91.3936,9.56,1.0
498,1.0,312.0,103.0,4.0,4.0,5.0,8.43,0.0,97344.0,32136.0,...,0.00000,0.000,0.0,358893.380131,0.000000,0.000000,0.000000,0.0000,0.00,0.0
499,1.0,327.0,113.0,4.0,4.5,4.5,9.04,0.0,106929.0,36951.0,...,0.00000,0.000,0.0,545771.160236,0.000000,0.000000,0.000000,0.0000,0.00,0.0

In [18]:
y = admission_df[['Chance of Admit ']]

In [19]:
y

     Chance of Admit
0                0.92
1                0.76
2                0.72
3                0.80
4                0.65
..                ...
495              0.87
496              0.96
497              0.93
498              0.73
499              0.84

[500 rows x 1 columns]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 5)

In [21]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [22]:
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

In [23]:
mse = mean_squared_error(y_train, y_train_predict)
print("training data 성능")
print(sqrt(mse))

mse = mean_squared_error(y_test, y_test_predict)
print("test data 성능")
print(sqrt(mse))

training data 성능
0.001504901157937794
test data 성능
5.090626920754361

과적합 발생